.dashboard-border {
  border: thin limegreen;
}

.dashboard-header {
  margin-top: 10px;
  margin-left: 5px;
}

.row-header{
  margin-top: 16px;
}

.row-inner{
  margin-top: 7px;
}

.dashboard-contents {

}

.income-color {
  color: #000000;
}

.expense-color {
  color: red;
}

.delete-button {
  color:#fff;
  background-color: red;
  border-color: red;
  right: 25px;
  position: absolute;
}

.date-picker {
  padding: 10px;
  width: 100%;
  left: 0px;
  position: absolute;
}

.date-picker-container {
  padding: 5px;
  width: 100%
}

.child {
  position: relative;
}

.parent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.collab-updates {

}

.dashboard-graphs {

}

.snapshot-bar-income {
  background-color: limegreen;
  height: 50px;
  text-align: center;
  padding-top: 15px;
}

.snapshot-bar-expense {
  background-color: red;
  height: 50px;
  text-align: center;
  padding-top: 15px;
}

.snapshot-bar-remaining {
  background-color: transparent;
  color: black;
  height: 50px;
  text-align: center;
  padding-top: 15px;
}
