.mainView{
  spadding: 10px;
}

.verticalLine {
  border-right: thin solid #adb2ba;
}

.horizontalLine {
  margin-top: 14px;
  border-top: thin solid #adb2ba;
  margin-bottom: 14px;
}

.topMargin {
  margin-top: 14px;
}

.graph-border {
  border-width:5px;
  border-style:inset;
}

.sidebar{
  border-style: solid;
  overflow-x: hidden;
  border-radius: 5px;
  padding-right: 0px;
  padding-left: 0px;
}
.sidebar h3{
  color: white;
  border-bottom-style-style: solid;
  border-top-style-style: solid;
  background-color: #4caf50;
  border-radius: 3px;
  font-size: large;
}

.option-config{
  margin-top: 16px;
}

.sidebar h2 {
  font-size: x-large;
}

.graph{
  padding-left:300px;
  display:block;
}

.modal-container {
  position: relative;
}
.modal-container .modal, .modal-container .modal-backdrop {
  position: absolute;
}

DateRangePicker{
  padding-bottom: 5px;
}



