.mainView{
  spadding: 10px;
}

.sidebar{
  border-style: solid;
  overflow-x: hidden;
  border-radius: 5px;
  padding-right: 0px;
  padding-left: 0px;
}
.sidebar h3{
  color: white;
  border-bottom-style-style: solid;
  border-top-style-style: solid;
  background-color: #4caf50;
  border-radius: 3px;
  font-size: large;
}

.sidebar h2 {
  font-size: x-large;
}

.graph{
  padding-left:300px;
  display:block;
}

DateRangePicker{
  padding-bottom: 5px;
}



