.nav-inline {
  margin-bottom: 0;
}

.nav-inline-item {
  > a, div {
    color: $textLight;
  }
}

.plan-item {
  padding-top: $dropdown-padding-y;
  padding-bottom: $dropdown-padding-y;
  > button {
    margin-left: 20px;
    height: 80%;
  }
}
