.budget-auth-navbar {
  background: $colorPrimary500;
  h1 {
    color: $textLight;
  }
}

.budget-auth {
  margin-left: auto;
  margin-right: auto;
  margin-top: 4em;
}

.nav-inline{
  padding-left:0;
  list-style:none
}

.nav-inline-item{
  display:inline-block;
  padding-left:10px;
  padding-right:10px;
}

.nav-inline-item-right{
  float:right!important;
  margin-right:15px
}

$centerLine: 50%;
@import './loginview';
@import './signupview';
